@font-face {
    font-family: "Graphik-Regular";
    src: url("../public/Assets/Fonts/Graphik-Regular.ttf")
}
  
@font-face {
    font-family: "Graphik-Bold";
    src: url("../public/Assets/Fonts/Graphik-Bold.ttf")
}
  
@font-face {
    font-family: "Graphik-Semibold";
    src: url("../public/Assets/Fonts/Graphik-Semibold.ttf")
}
  
.body {
    background-color: white;
    font-family: "Graphik-Regular";
}
  
.card {
    border-radius: 15px;
    background-color: #E2E6EA;
    border-width: 0px;
}
  
.btn-primary{
    margin-top:20px;
    border-radius: 12px;
    background-color: #FF7800;
    border: 0px;
}
  
.btn-primary:hover, 
.btn-primary:focus{
    background-color: #BF5A00;
    border: 0px;
}
  
.footer {
    background-color: black;
    padding: 20px;
    padding-left:50px;
    padding-right: 50px;
    color: #FFEB32
  }

  #footerTitle{
    color: white;
    font-size: min(5vw, 35px);
    font-family: "Graphik-Semibold";
  }

  #footerLine {
    height:2px;
    background: linear-gradient(90deg ,#FFEB32, #FF7800);;
    margin-bottom: 30px;
  }

  .link {
    color: #FF7800
  }
  
.bg-dark{
    background-color: black;
}
  
